

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 34px;
  color: #777777;
  background: url("../images/greyfloral.png");
}

.auth-image {
  width: 200px;
  height: auto;
}

footer {
  text-align: center;
  border-top: 8px solid white;
  background: #666;
  color: white;
  padding: 25px;

}

.badge {
  background: #4aaaa5;
  padding-top: 15px;
  padding-bottom: 15px;
 }

#main-container {
 background: white;
 margin-top: 25px;
 margin-bottom: 25px;
}

.container {
  width: 83%;
}

.card-text {
  font-size: 30px;
  text-align: center;
}

.card {
  margin: 25px;
}

.row2 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: 90px;
}

.row3 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: 90px;
}
